Source: qcom-qcomtee
Maintainer: Abhinaba Rakshit <abhinaba.rakshit@oss.qualcomm.com>
Standards-Version: 4.6.2
Section: misc
Priority: optional
Rules-Requires-Root: no
Build-Depends: debhelper-compat (= 13), cmake, libcbor-dev
Homepage: https://github.com/quic/quic-teec
Vcs-Git: https://github.com/qualcomm-linux/pkg-quic-teec -b qcom/ubuntu/resolute
Vcs-Browser: https://github.com/qualcomm-linux/pkg-quic-teec

Package: qcom-libqcomtee-dev
Architecture: arm64
Section: libdevel
Description: Qualcomm qcomtee userspace library
 QCOM‑TEE (libqcomtee) is a user-space C library that enables applications to communicate
 with Qualcomm’s Trusted Execution Environment (QTEE) via the Linux TEE subsystem using object-based IPC.
 .
 This package contains the static library libqcomtee.a and the development
 headers used to build applications against qcomtee.
Depends: ${misc:Depends}
