#!/usr/bin/make -f

%:
	dh $@ --buildsystem=cmake

override_dh_auto_configure:
	# Build QCBOR from source
	mkdir -p qcbor-build
	cd qcbor-build && \
	git clone https://github.com/laurencelundblade/QCBOR/ && \
	cd QCBOR && \
	cmake . && make && make install && \
	cd ../../ && rm -rf qcbor-build
	dh_auto_configure
