#!/usr/bin/make -f

export DEB_BUILD_MAINT_OPTIONS = hardening=+all

%:
	dh $@ --buildsystem=cmake

override_dh_auto_configure:
	# Always use libcbor; don't switch backends if a QCBOR build happens to be installed.
	dh_auto_configure -- \
		-DBUILD_UNITTEST=ON \
		-DCMAKE_DISABLE_FIND_PACKAGE_QCBOR=ON

override_dh_strip:
	# The .mbn file is a signed QTEE payload; stripping would invalidate it.
	dh_strip -X.mbn

override_dh_dwz:
	dh_dwz -X.mbn

override_dh_shlibdeps:
	# QTEE resolves the TA's dependencies in the secure world, not via dpkg-shlibdeps.
	dh_shlibdeps -X.mbn
